/*
项目负责人：王薪博
项目创建日期:2017.7.20
最新更新:2017.7.20
修改人员:无
修改日期:无
修改原因:无
修改代码行数区间:无 15561541009
*/

/*banner*/
#banner .cateGory{ display: block; width: 146px; }
#banner .cateGory ul li{ float: left; width: 146px; height: 34.2px; background: rgb(155, 144, 142); border-bottom: 1px solid #afafaf; color: #FFF; font: 14px/34px "microsoft yahei";  }
#banner .cateGory ul li a{ float: left; width: 65px; color: #FFF; display: block; text-align: left; }
#banner .cateGory ul li a:hover{ text-decoration: underline; }
#banner .cateGory ul li a i{ width: 18px; height: 23px; background: url(http://www.zhe9000.com/static/zhe_image/big_bg_img_v2_new.png) no-repeat; display: block; float: left; margin: 7px 4px 0 14px  }
#banner .cateGory ul li a.a0 i{ background-position: -5px -258px; }
#banner .cateGory ul li a.a1 i{ background-position: -68px -258px; }
#banner .cateGory ul li a.a2 i{ background-position: -5px -287px; }
#banner .cateGory ul li a.a3 i{ background-position: -68px -287px; }
#banner .cateGory ul li a.a4 i{ background-position: -5px -315px; }
#banner .cateGory ul li a.a5 i{ background-position: -68px -315px; }
#banner .cateGory ul li a.a6 i{ background-position: -5px -343px; }
#banner .cateGory ul li a.a7 i{ background-position: -68px -343px; }
#banner .cateGory ul li a.a8 i{ background-position: -5px -370px; }
#banner .cateGory ul li a.a9 i{ background-position: -5px -482px; }
#banner .cateGory ul li a.a10 i{ background-position: -5px -399px; }
#banner .cateGory ul li a.a11 i{ background-position: -68px -399px; }
#banner .cateGory ul li a.a12 i{ background-position: -5px -426px; }
#banner .cateGory ul li a.a13 i{ background-position: -68px -426px; }
#banner .cateGory ul li a.a14 i{ background-position: -5px -454px; }
#banner .cateGory ul li a.a15 i{ background-position: -68px -454px; }
#banner{ width: 100%;}
#banner .bannerMain{ width: 1200px; margin: 0 auto; position: relative;}
#banner .bannerMain .box{width: 804px; height: 282px; margin:0 auto ; position:relative;}
#banner .bannerMain .box .box_img{width: 100%; height: 100%;}
#banner .bannerMain .box .box_img ul li{ position:absolute; display: none;}
#banner .bannerMain .box .box_img ul li a{ display: block; width: 100%; height: 100%;}
#banner .bannerMain .box .box_img ul li img{width: 100%; height: 282px;}
#banner .bannerMain .box .box_img ul li p.one a>img{position: absolute;top: 10px;left: 813px; width:137px; height:137px; }
#banner .bannerMain .box .box_img ul li p.two a>img{position: absolute;top: 154px;left: 813px; width:137px; height:137px; }
#banner .bannerMain .box .box_tab{ position: absolute; left:82%; bottom:2px;}
#banner .bannerMain .box .box_tab a{ padding:2.8px 10px; color: #fff; font-weight:bold; background:rgba(000,000,000,.3); text-transform: lowercase; margin-right:3px; display: inline-block; text-align: center; }
#banner .bannerMain .box .box_tab a.active{background:#FF3300;}
#banner .bannerMain .thisadsbox{ width: 240px; height: 277px; position: relative; }
#banner .bannerMain .thisadsbox .bannerRightOne div{ width: 135px; margin-right: 0; height: 143px; margin-bottom: 4px; overflow: hidden; }
#banner .bannerMain .thisadsbox .bannerRightOne div a img{ width: 135px; height: 135px; }
#banner .bannerMain .thisadsbox .bannerRightTwo{ width: 100px; height: 282px; transition: width 1s; margin: -294px auto 0 140px; background-color: #797979; text-align: center; }
#banner .bannerMain .thisadsbox .bannerRightTwo .one{ width: 80px; height: 80px; position: relative; left: 10px; color: #fff; display: block; border-bottom: 1px solid #c3c2c1; }
#banner .bannerMain .thisadsbox .bannerRightTwo .diffeOne{ top: 17px; }
#banner .bannerMain .thisadsbox .bannerRightTwo .diffeOne:hover a{ color: #EC1611 }
#banner .bannerMain .thisadsbox .bannerRightTwo .diffeOne a{ top: 17px; line-height: 36px; color: #fff; }
#banner .bannerMain .thisadsbox .bannerRightTwo .diffeOne span{ width: 50px; height: 50px; border-radius: 25px; cursor: pointer; background: url(http://www.zhe9000.com/static/zhe_image/sigin_info_icon_new.png) no-repeat; margin: 0 auto; display: block; }

#banner .bannerMain .thisadsbox .bannerRightTwo .diffeTwo{ top: 34px; }
#banner .bannerMain .thisadsbox .bannerRightTwo .diffeTwo:hover a{ color: #EC1611 }
#banner .bannerMain .thisadsbox .bannerRightTwo .diffeTwo a{ top: 17px; lines-height: 36px; color: #fff; }
#banner .bannerMain .thisadsbox .bannerRightTwo .diffeTwo span{ width: 50px; height: 50px; border-radius: 25px; cursor: pointer; background: url(http://www.zhe9000.com/static/zhe_image/sigin_info_icon_new.png) no-repeat; margin: 0 auto; display: block; }
#banner .bannerMain .thisadsbox .bannerRightTwo .diffeThree{  width: 80px; height: 80px; position: relative; top: 20px; left: 10px  }
#banner .bannerMain .thisadsbox .bannerRightTwo .diffeThree img{ height: 80px; width: 80px; }
#banner .bannerMain .thisadsbox .bannerRightTwo .diffeThree span{ position: relative; font: 12px/15px "microsoft yahei"; color: #fff; display: block; height: 26px; top: -10px; }

/*main*/
#main{ background: #f5f5f5!important; }
#main .hot{ width: 1200px; height: 34px; margin:0 auto; margin-top: 30px; border-bottom: 1px solid #f00; clear: both;}
#main .hot>span{ margin-left: 8px; color: #FF404C; font-size: 24px; font-weight: bold; height: 44px; margin-top: 5px; position: relative; top: -6px; }
#main .hot>span img{ position: relative; top: 6px; }
#main .hot p{ display: inline-block; }
#main .hot p a{ font-size: 14px; position: relative; top: -6px; color: #666; }
#main .hot p span{  background:#FF404C; display: inline-block; width: 10px; height: 10px; border-radius: 50%; z-index: 111; position: relative; left: 10%;  }
#main .hot ul{ display: inline-block; height: 28px; float: right; margin-top: 10px; margin-right: 12px; }
#main .hot ul li{ float: left; width: 46px; height: 24px; line-height: 28px; text-align: center; font: 12px/24px "microsoft yahei"; }
#main .hot ul li a{ color: #FF6767; display: block; }
#main .hot ul li.allBrands{ width: 76px; background: #FF404C; }
#main .hot ul li.allBrands a{ color: #fff; }
#main .hot ul li.allBrands a:hover{ color: #fff; }
#main .hot ul li a:hover{ background: #ff6767; color: #fff; text-decoration: none; }

#main .coupon{width: 1250px; height: 200px; margin: 0 auto; }
#main .coupon>div { display: block; width: 392px; height: 200px; display: inline-block; }
#main .coupon>div img{ width: 392px; height: 200px; display: inline-block;}
#main .coupon .couponOne:hover img{ box-shadow:5px 0 10px #ddd, -5px 0 10px #ddd; }

#main .brand{ width: 1200px;height: 120px; margin: 0 auto; margin-top: 10px;}
#main .brand ul{ position: relative; }
#main .brand ul li {  float: left; margin: 0; padding: 0;}
#main .brand ul li.one i.fenge{ display: block; height: 18px; top: 23px; position: absolute;top: 20px; border-right: 1px solid #eaeaea; margin-left: 120px;}
#main .brand ul li.two i.fenge{ display: block; height: 18px; top: 23px; position: absolute;top: 86px; border-right: 1px solid #eaeaea; margin-left: 120px;}
#main .brand ul li a:hover { position:relative;left:-3px;top:0;z-index:99;width:126px;height:60px;overflow:hidden }
#main .brand ul li a img:hover{ box-shadow:0 0 30px 0px #999 }
#main .showcase{ width: 1200px; padding-bottom: 20px; margin: 0 auto; background: #F2F2F2; padding-top: 4px; }
#main .showcase .store{ width: 298px; height: 375px; float: left; margin-left: 1px; }
#main .showcase .store .juZh{ width: 283px!important; margin:0 auto; position: relative;}
#main .showcase .store .juZh:hover{ box-shadow:5px 0 10px #ddd, -5px 0 10px #ddd; }
#main .showcase .store .juZh a.coupon{ background: url(http://www.zhe9000.com/static/zhe_image/ico_mquan.png);display: inline-block; position: absolute; z-index: 98; width: 74px; height: 74px; top: 0px; background-size: 100%; background-repeat: no-repeat; line-height: 64px; text-align: center; color: white; padding: 0; margin: 0;}
#main .showcase .store img{ width: 283px; height: 283px; margin-left: -12px; }
#main .showcase .store p{ width: 283px; height: 20px; line-height: 10px; text-align: center; margin-top: -26px; background: black; opacity: 0.7; color: #fff; }
#main .showcase .store p.mouseShow{ opacity: 0; }
#main .showcase .store p a{ color: #fff; display: block;}
#main .showcase .store h3{ margin-top: -5px; padding-top: 5px; padding-right: 12px; height: 20px; width: 271px; color: #666; text-align: left; font:12px/20px Arial,"微软雅黑"; white-space: nowrap; text-overflow:ellipsis; background-color: #fff; overflow: hidden;  }
#main .showcase .store a{ margin: 0 auto; width: 265px; height: 20px;  padding: 5px 10px 0 12px; margin-top: 2px;}
@-moz-document url-prefix(){#main .showcase .store .juZh>a{ padding: 0 0 0 12px;}}
@-moz-document url-prefix(){#main .showcase .store .xiangQ a{ padding: 0 10 0 0px;}}
#main .showcase .store a em{ color: #f00; }
#main .showcase .store h4{ width: 283px; height: 34px; background: #fff; padding: 3px 0 6px 0; position: relative;}
#main .showcase .store h4 em{  height: 30px; font: 33px/44px Arial; display: inline-block; line-height: 40px; color: #FF3366; margin-left: 10px; }
#main .showcase .store h4 em b{ font-size: 12px;}
#main .showcase .store h4 del{ font-size: 12px; color: #999; text-decoration:line-through; display: inline-block; }
#main .showcase .store h4 .sold{ width: 72px; white-space: nowrap; text-overflow:ellipsis; text-align: right; display: block; font:12px/12px "微软雅黑"; color: #999; line-height: 21px; z-index: 1001; display: inline-block; margin-left: 10px;}
#main .showcase .store h4 .xiangQ{ position: absolute; top: 16px; right:2px; }
#main .showcase .store h4 .xiangQ a{ color: #FF4C66; }
#main .tuijianShop{width: 1200px; height: 159px; margin:0 auto;}
#main .tuijianShop p{width: 232px; height: 159px; float: left;}
#main .tuijianShop p:hover{  box-shadow:-8px 0 8px #aaa,   
    8px 0 8px #aaa; transition: 0.5s;  }
#main .tuijianShop p.bianJu{ margin-left: 0.83%; }
#main .tuijianShop p a img{ width: 232px; height: 159px; }

#main .pageNav{ margin: 0 auto; text-align: center; margin-bottom: 40px; }
#main .pageNav ul li{ display: inline-block; }
#main .pageNav span { background: #ED0F08; color: #fff; font-weight: bold; text-align: center; display: inline-block; margin-left: 1px; padding: 10px 15px; overflow: hidden; }
#main .pageNav span.pgPrev{ color: #bbb; font-weight: normal; background: none repeat scroll 0 0 #FFFFFF; width: 60px; border-radius: 20px 0 0 20px; }
#main .pageNav a,#main .pageNav i{ display: inline-block; background: none repeat scroll 0 0 #FFF; margin-left: 1px; padding: 10px 15px; overflow: hidden; color: #a3370f; font-size: 14px; font-weight: bold; border-right: none; -moz-box-shadow: 1px 1px 3px rgba(226,226,226,0.75); -webkit-box-shadow: 1px 1px 3px rgba(226,226,226,0.75); box-shadow: 1px 1px 3px rgba(226,226,226,0.75); } 
#main .pageNav i{ color: #d4d4d4;}
#main .pageNav a{ transition:.8s; }
#main .pageNav a.pgNext{ width: 60px; border-radius: 0 20px 20px 0; text-align: center; }
#main .pageNav a:hover{ color: #FF0F38; transition:.8s; }

/*弹出层*/
#tanchu .bg{ width: 100%; height: 120px; background: #333; opacity:  .7; position: fixed; bottom:0; z-index: 99; }
#tanchu .tanchuImg{ width: 1060px; height: 170px; position: fixed; bottom: 0px; left: 61%; margin-left: -676px; z-index: 100; }
#tanchu .close{ position: fixed; bottom: 90px; right: 11%; width: 30px; height: 30px; z-index: 100; cursor: pointer; }

/*头部固定*/
#fixedTitle{ width: 100%; height: 85px; position: fixed; top: 0; z-index: 999; background: #fff; display: none; box-shadow: 0 0 5px 0 #646464; }
#fixedTitle>div{ width: 100%; }
#fixedTitle>div>span{ width: 100%; border-bottom :2px solid #f00; display: block; }
#fixedTitle>div a{ display: block; height: 40px; line-height: 40px; 
    float: left; margin-right: 20px; font-size: 14px; }  
#fixedTitle>div a:hover{ color: #e60044; }
#fixedTitle>div a:nth-child(1){ color: #e60044;  font-weight: 700; }
#fixedTitle>div>span .top{ width: 1200px; margin: 0 auto; height: 41px; }  
#fixedTitle>div>span .top .searchDiv{ margin-top: -32px; }
#fixedTitle>div>span .top .searchDiv form .txt{ width: 113px; padding: 0 0 0 10px; background: #fff; height: 27px; line-height: 28px; border: 1px solid #e60044; outline: 0; float: left; font-family: '微软雅黑'; color: #999; }
#fixedTitle>div>span .top .searchDiv form .smt{ width: 82px; height: 29px; border: 0; cursor: pointer; background: url(http://status.tuanimg.com/statics/zhe/common/img/index-common.png) -189px 0 no-repeat; margin: 0 0 1px -1px; }
#fixedTitle .down{ width: 1200px; margin: 0 auto; height: 43px; }  

/*右侧固定导航*/
#rightCeBian{ position: fixed; bottom: 0; right: 0; width: 34px; background-color: #000; height: 100%; min-height: 594px; z-index: 10003; visibility: visible; left: auto; margin: 0; padding: 0; font-size: 12px; font-family: "\5FAE\8F6F\96C5\9ED1"; color: #fff;}
#rightCeBian>div{ position: absolute; cursor: pointer; width: 34px; left: 0; }
/*购物车模块*/
#rightCeBian .top0{ top: 28px!important; height: 133px; }
#rightCeBian .top0:hover{ background-color: #c7000b; }
#rightCeBian .top0:hover .tabSup .tabSupBg span{ color: #c7000b; background-position: -2px -30px; }
#rightCeBian .top0 .tabIcon{ width: 34px; height: 42px; display: block; background: url(../images/rightCeBianTu.png) no-repeat 0 0; background-position: -61px 0; }
#rightCeBian .top0>a{ height: 133px; display: block; width: 34px; position: absolute; top: 0; left: 0; color: #fff; }
#rightCeBian .top0>a .tabText{ font-size: 12px; text-align: center; display: block; left: 7px; top: 40px; width: 20px; height: 50px; line-height: 16px; overflow: hidden; padding: 0; position: absolute; }
#rightCeBian .top0>a .tabSup{ display: block; top: 100px; right: 0; text-align: center; position: absolute; width: 34px; }
#rightCeBian .top0>a .tabSup .tabSupBg span{ width: 19px; height: 19px; font-family: "\5FAE\8F6F\96C5\9ED1"; line-height: 19px; border-radius: 12px; font-size: 12px; display: inline-block; background: url(../images/shopShuLiang.png) no-repeat -2px -5px; }
/*我的订单模块*/
#rightCeBian .top1{ top: 162px!important; } 
#rightCeBian .top1:hover{ background-color: #c7000b; }
#rightCeBian .top1:hover .tabTip{ display: block; }
#rightCeBian .top1 .tabIcon{ width: 34px; height: 42px; display: block; background: url(../images/rightCeBianTu.png) no-repeat 0 0;  background-position: -722px 0; }
#rightCeBian div .tabIcon a{ display: block; width: 34px; height: 42px; overflow: hidden; text-indent: -40px; }
#rightCeBian div .tabTip{ display: none;  position: absolute; top: 0; width: 90px; height: 42px; line-height: 32px; text-align: center; color: #fff; background-color: #c7000b; right: 34px; }
#rightCeBian div .tabTip a{display: inline-block; margin: 5px 0; color: #fff; font-size: 12px; font-family: "微软雅黑"; }
#rightCeBian div .tabTip .arrIcon{ position: absolute; width: 16px; height: 16px; line-height: 16px; text-align: center; font-size: 16px; font-family: "\5FAE\8F6F\96C5\9ED1"; top: 14px; right: -6px; color: #c7000b; }
/*我的优惠券模块*/
#rightCeBian .top2{ top: 202px!important; height: 42px; }
#rightCeBian .top2:hover{ background-color: #c7000b; }
#rightCeBian .top2:hover .tabTip{ display: block; }
#rightCeBian .top2 .tabIcon{ width: 34px; height: 42px; display: block; background: url(../images/rightCeBianTu2.png) no-repeat 1px 0px;  background-position: relative; margin: 12px 0 0 6px;}
/*我的收藏模块*/ 
#rightCeBian .top3{ top: 245px!important; height: 42px; }
#rightCeBian .top3:hover{ background-color: #c7000b; } 
#rightCeBian .top3:hover .tabTip{ display: block; }
#rightCeBian .top3 .tabIcon{ background: url(../images/rightCeBianTu3.png) no-repeat 1px 0px;  background-position: relative; margin: 12px 0 0 6px; }
/*卖家消息模块*/
#rightCeBian .top4{ top: 287px!important; height: 42px; }
#rightCeBian .top4:hover{ background-color: #c7000b; } 
#rightCeBian .top4:hover .tabTip{ display: block; }
#rightCeBian .top4 .tabIcon{ background: url(../images/rightCeBianTu4.png) no-repeat 4px -227px; }
/*签到模块*/
#rightCeBian .bottom5{ bottom: 210px!important; margin-bottom: 10px; height: 42px; }
#rightCeBian .bottom5:hover{ background-color: #c7000b; }
#rightCeBian .bottom5:hover .tabTip{ display: block;  }
#rightCeBian .bottom5:hover .tabIcon{ background: url(../images/rightCeBianTu4.png) no-repeat 0 -47px; }
#rightCeBian .bottom5 .tabIcon{ background: url(../images/rightCeBianTu5.gif) no-repeat 0 0; }
/*性别模块*/
#rightCeBian .bottom4{ bottom: 168px!important; height: 42px; }
#rightCeBian .bottom4:hover{ background-color: #c7000b; }
#rightCeBian .bottom4:hover .tabTip{ display: block;  }
#rightCeBian .bottom4 .tabTip{ width: 125px; padding-right: 10px; }
#rightCeBian .bottom4 .tabTip a{ text-decoration: none; display: inline-block; float: right; padding: 2px; height: 14px; line-height: 14px; border: 1px solid #fff; background: #c7000b; color: #fff; margin: 12px 2px; border-radius: 3px; }
#rightCeBian .bottom4 .tabTip a.on{ color: #c7000b; background-color: #fff; }
#rightCeBian .bottom4 .tabIcon{ background: url(../images/rightCeBianTu.png) no-repeat 0 0; background-position: -386px 0; }
/*二维码模块*/
#rightCeBian .bottom3{ bottom: 126px!important; height: 42px; }
#rightCeBian .bottom3:hover{ background-color: #c7000b; }
#rightCeBian .bottom3:hover .tabTip{ display: block; }
#rightCeBian .bottom3 .tabTip{ margin-top: -5px; left: -120px; display: block; display: none; }
#rightCeBian .bottom3 .tabTip{ background: none; }
#rightCeBian .bottom3 .tabTip a{ width: 120px; height: 120px; }
#rightCeBian .bottom3 .tabTip a img{ width: 120px; height: 120px; }
#rightCeBian .bottom3 .tabIcon{ background: url(../images/rightCeBianTu.png) no-repeat 0 0; background-position: -267px 0; }
/*常见问题模块*/
#rightCeBian .bottom2{ bottom: 84px!important; height: 42px; }
#rightCeBian .bottom2:hover{ background-color: #c7000b; } 
#rightCeBian .bottom2:hover .tabTip{ display: block; }
#rightCeBian .bottom2 .tabIcon{ background: url(../images/rightCeBianTu.png) no-repeat 0px 0px; background-position: -330px 0; }
/*意见反馈*/
#rightCeBian .bottom1{ bottom: 42px!important; height: 42px; }
#rightCeBian .bottom1:hover{ background-color: #c7000b; } 
#rightCeBian .bottom1:hover .tabTip{ display: block; }
#rightCeBian .bottom1 .tabIcon{ background: url(../images/rightCeBianTu.png) no-repeat 0px 0px; background-position: -501px 0; }
/*返回顶部*/
#rightCeBian .bottom0{ bottom: 0px!important; height: 42px; display: none; }
#rightCeBian .bottom0:hover{ background-color: #c7000b; } 
#rightCeBian .bottom0:hover .tabTip{ display: block; }
#rightCeBian .bottom0 .tabIcon{ background: url(../images/rightCeBianTu.png) no-repeat 0px 0px; background-position: -554px 0; }