body{ overflow-x:hidden; }
#main .box .show .zhangHuZiLiao form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #f00; opacity:1; 
}

#main .box .show .zhangHuZiLiao form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #f00;opacity:1;
}

#main .box .show .zhangHuZiLiao form input:-ms-input-placeholder{
    color: #f00;opacity:1;
}

#main .box .show .zhangHuZiLiao form input::-webkit-input-placeholder{
    color: #f00;opacity:1;
}

/*main*/
#main{ width: 100%; padding-top: 60px; padding-bottom: 20px; background: #f5f5f5;display:inline-block;  }
#main .box{ width: 1200px;  margin:0 auto; }
#main .box .sidebar{ width: 181px; background: #fff;  box-shadow:5px 0 10px #ddd, -5px 0 10px #ddd; border:1px solid #ccc\9; position: relative; }
#main .box .sidebar>img{ width: 200px; position: absolute; top:-20px; left:-8px; }
#main .box .sidebar ul{ margin-top: 10px; }
#main .box .sidebar ul span{ width: 161px; height: 20px; display: block; margin:0 auto; margin-top: 10px; margin-bottom: -10px; border-top: 1px dashed #ccc; }
#main .box .sidebar ul li{ width: 161px; margin:0 auto; line-height: 40px; border-radius: 5px; margin-bottom: 10px; }
#main .box .sidebar>ul>li>a{ background: #ED2C3B; }
#main .box .sidebar>ul li a{ width: 100%; height: 100%; display: block; text-align: center; color: #fff; border-radius: 5px; font-size: 15px; letter-spacing:1px; } 
#main .box .sidebar>ul>li{ position: relative; }
#main .box .sidebar>ul>li img{ position: absolute; top: 10px; right: 10px; width: 20px; height: 20px; cursor: pointer; }
#main .box .sidebar>ul>li:nth-child(1) a{ margin-top:40px;  }
#main .box .sidebar>ul>li>a:hover{ background: #EA1724; }
#main .box .sidebar ul li.end{ border-bottom: none; }
#main .box .sidebar ul li ul{ display: none; }
.ceShow{ display: block!important; }
#main .box .sidebar ul li ul li{ background: #fff; }
#main .box .sidebar ul li ul li a{ color: #333; }
#main .box .sidebar p{ width: 161px; height: 40px; margin:0 auto; line-height: 40px; }
#main .box .sidebar p a{ width: 111px; height: 40px; display: block; }
#main .box .sidebar p a:hover{ color:#FF314D; letter-spacing:1px; }
#main .box .show{ width: 997px; background: #fff; height: 1050px;  box-shadow:5px 0 10px #ddd, -5px 0 10px #ddd;  border:1px solid #ccc\9; position: relative; }
#main .box .show .jiao{ position:absolute; bottom:-75px; right:-98px; }
#main .box .show img#tuDing{ position:absolute; top:0; right:0; width: 50px; cursor:pointer; }
#main .box .show p.borderBottom{  width: 90%; height: 40px; border-bottom: 2px dashed #ED2C3B; margin:0 auto; line-height: 50px; font-size: 14px; letter-spacing:2px; font-weight: 700; color: #888; }

#main .box .show .myBackstage .hint{ width: 94%; margin: 0 auto; margin-top: 20px; padding-left: 29px; }
#main .box .show .myBackstage .hint div{ width: 31%; height: 100px; float: left; margin-right: 1.5%; margin-bottom: 11px; text-align: left; line-height: 20px; position: relative; border: 1px dashed #F04B55; }
#main .box .show .myBackstage .hint div:hover{ border: 1px solid #F02931; }
#main .box .show .myBackstage .hint div img{ position: absolute; right: 5px; top: 5px; width: 20px; cursor: pointer; }
#main .box .show .myBackstage .hint div span{ display: block; width: 80%; margin:0 auto; margin-top: 32px; }
#main .box .show .myBackstage .hint div span a{ color: #888; text-decoration:underline; position: absolute; }
#main .box .show .myBackstage .hint div span a:hover{ color: #ED2C3B; }
#main .box .show .myBackstage div.info{ width: 90%; margin: 0 auto; background-color: #F9F9F9; border: 1px #E6E6E6 solid; margin-top: 10px; }
#main .box .show .myBackstage div.info .myBackstageL{ width: 40%; height: 120px; margin-right: 10%; margin-left: 5%; }
#main .box .show .myBackstage div.info .myBackstageR{ width: 40%; height: 120px; margin-right: 2%; }
#main .box .show .myBackstage div.info div{ margin-top: 10px; }
#main .box .show .myBackstage div.info div ul{ height: 100%; }
#main .box .show .myBackstage div.info div ul li{ height: 30%; line-height: 330%; }

#main .box .show .zhangHuZiLiao form { margin:40px; }
#main .box .show .zhangHuZiLiao form input.set{ background: #fff; color: #FF3652; border: 1px solid #FF3652; display: block; width: 120px; height: 30px; cursor: pointer; margin-left: 80px; border-radius: 5px; margin-top: 20px; }
#main .box .show .zhangHuZiLiao form ul li{ margin: 20px; text-align: left; }
#main .box .show .zhangHuZiLiao form ul li input{ width: 150px; padding: .5em .6em; box-shadow: inset 0 1px 3px #ddd; border-radius: 5px; box-sizing: border-box; background-color: white; border: 1px solid #ccc; width: 150px; }
#main .box .show .zhangHuZiLiao form ul li input:focus{ border: 1px solid #F72C48; }
#main .box .show .zhangHuZiLiao form ul li span{ width: 60px; display: inline-block; text-align: right; }
#main .box .show .zhangHuZiLiao form ul .szqy{ margin-left: 20px; margin-right: -4px; }
#main .box .show .zhangHuZiLiao form b{ color: #f00;margin-right: 5px; margin-left: -10px; width: 20px; height: 20px; line-height: 20px; vertical-align: middle;}
#main .box .show .zhangHuZiLiao form ul #city{ display: inline-block; }
#main .box .show .zhangHuZiLiao form ul #city select{ width: 100px; height: 30px; appearance:none; -moz-appearance:none; -webkit-appearance:none; background: url("../images/arrow.png") no-repeat scroll right 11px transparent; padding-left: 6px; color: #555; margin-right: 5px; border-radius: 5px; box-shadow: inset 0 1px 3px #ddd; }
select::-ms-expand { display: none; }
#main .box .show .zhangHuZiLiao form ul #city select:focus{ outline: none; border: 1px solid #F72C48; }
#main .box .show .zhangHuZiLiao form ul #city select option{background-color: #FFEAF0; border: 1px solid #FFEAF0; clip:rect(2 80 20 2);} 
#main .box .show .zhangHuZiLiao form ul .xxdz{ margin:20px 0 15px 20px; }
#main .box .show .zhangHuZiLiao form ul .xxdz label{ text-align: left; display: inline-block; vertical-align: middle; margin-right: -4px; }
#main .box .show .zhangHuZiLiao form ul .xxdz textarea{ width: 311px; height: 96px; line-height: 1.5em; vertical-align: top; border-radius: 5px; box-shadow: inset 0 1px 3px #ddd; border: 1px solid #ccc; }
#main .box .show .zhangHuZiLiao form ul .xxdz textarea:focus{ outline: none; border: 1px solid #F72C48; }
#main .box .show .zhangHuZiLiao form ul .sjrxm{ margin-left: 4px; }
#main .box .show .zhangHuZiLiao form ul .sjrxm input{ width: 150px; border-radius: 5px; box-shadow: inset 0 1px 3px #ddd; border: 1px solid #ccc; padding: .5em .6em; }
#main .box .show .zhangHuZiLiao form ul .sjrxm input:focus{ border: 1px solid #F72C48; }
.borderRed{ border:1px solid #f00!important; }

#main .box .show .xiuGaiMiMa form input.set{ background: #fff; color: #FF3652; border: 1px solid #FF3652; display: block; width: 120px; height: 30px; cursor: pointer; margin-left: 100px; border-radius: 5px; margin-top: -20px;}
#main .box .show .xiuGaiMiMa form input.set:hover{ background: #FF3652; color: #fff; }
#main .box .show .xiuGaiMiMa form ul{ margin: 40px; } 
#main .box .show .xiuGaiMiMa form ul li{ text-align: left; margin-bottom: 20px; }
#main .box .show .xiuGaiMiMa form ul li input{ padding: .5em .6em; box-shadow: inset 0 1px 3px #ddd; border-radius: 5px; box-sizing: border-box; background-color: white; border: 1px solid #ccc; width: 150px;  }
#main .box .show .xiuGaiMiMa form ul li input:focus{ border: 1px solid #F72C48;}
#main .box .show .xiuGaiMiMa form ul li span{ width: 60px; display: inline-block; text-align: right; }

#main .box .show .shangC form{ margin:40px; }
#main .box .show .shangC form .yuLan{ margin: 0 0 5px 20px; width: 150px; height: 150px; }
#main .box .show .shangC form .headeImg{ width: 92px; height: 92px; display: inline-block; }
#main .box .show .shangC form .headeImg img{ width: 81px; height: 81px; margin: 0 auto; padding:4px 7px 7px 4px; background: url(../images/icon2.png) no-repeat 0 0; display: block; }
#main .box .show .shangC form a{ position: relative; background:url("../images/pinkBtn.png"); background-size: 78%; display: block; width: 160px; height: 40px; overflow: hidden; line-height: 40px; text-align: center; color: #fff; font-size: 14px; border-radius: 5px; letter-spacing: 2px; margin-top:20px; }
#main .box .show .shangC form a:hover{ background:url("../images/pinkBtn2.png"); background-size: 78%; }
 .shangC form a input{ position: absolute; right: 0; top: 0; opacity: 0; width: 270px; height: 40px; cursor: pointer; }

#main .box .show .bangDing { margin: 40px; }
#main .box .show .bangDing ul{ padding:0 70px; }
#main .box .show .bangDing ul li{ display: inline-block; width: 220px; height: 220px; }
#main .box .show .bangDing ul li.bangQQ,#main .box .show .bangDing ul li.weiXin{ border: 3px solid #fff; transition:.5s;}
#main .box .show .bangDing ul li.bangQQ a,#main .box .show .bangDing ul li.weiXin a{ display: block; height: 100%; width: 100%; border-radius: 50%; padding-top: 23px; }
#main .box .show .bangDing ul li.bangQQ:hover img,#main .box .show .bangDing ul li.weiXin:hover img{ transform:rotateY(180deg); transition:.6s; }

#main .box .show .bangDing ul li.bangQQ p em,#main .box .show .bangDing ul li.weiXin p em{ width: 100px; height: 102px; display: block; margin: 0 auto; }
#main .box .show .bangDing ul li.bangQQ p img,#main .box .show .bangDing ul li.weiXin p img{ width: 100px; box-shadow: 5px 0 10px #ddd, -5px 0 10px #ddd; border-radius: 25px; display: block; transition:.6s; }
#main .box .show .bangDing ul li.bangQQ:hover{ z-index: 2; border: 3px solid #FA7E86; border-radius: 50%; transition:.5s; box-shadow: 0px 6px 12px rgba(34, 25, 25, 0.8); }
#main .box .show .bangDing ul li.weiXin:hover{ z-index: 2; border: 3px solid #FA7E86; border-radius: 50%; transition:.5s; box-shadow: 0px 6px 12px rgba(34, 25, 25, 0.8); }
#main .box .show .bangDing ul li.bangQQ div,#main .box .show .bangDing ul li.weiXin div{ width: 100%; text-align: center; }
#main .box .show .bangDing ul li.bangQQ span,#main .box .show .bangDing ul li.weiXin span{ display: block; width: 100px; text-align: center; padding: 10px 0 10px; background: #ED2C3B; color: #fff; font-size: 14px; cursor: pointer; margin-top: 10px; border-radius: 5px; margin: 0 auto; }
#main .box .show .bangDing ul li.bangQQ span:hover{ box-shadow: 2px 0 5px #ED505A; }
#main .box .show .bangDing ul li.weiXin span:hover{ box-shadow: 2px 0 5px #ED505A; }

#main .box .show .shouRu .mingXi{ margin:40px; margin-top: 10px; }
#main .box .show .shouRu .mingXi .dangQian{ margin-bottom: 10px; }
#main .box .show .shouRu .mingXi .dangQian b{ font-size: 18px; }
#main .box .show .shouRu .mingXi .dangQian em{ color:#ED2C3B; }
#main .box .show .shouRu .mingXi dl dt{ border: 1px solid #ccc; }
#main .box .show .shouRu .mingXi dl dt p{ display: inline-block; text-align: center; height: 30px; line-height: 30px; background: #f1f1f1; }
#main .box .show .shouRu .mingXi dl dt p.title1{ width: 40%; border-right: 1px solid #ccc; }
#main .box .show .shouRu .mingXi dl dt p.title2{ width: 29.9%; border-right: 1px solid #ccc; }
#main .box .show .shouRu .mingXi dl dt p.title3{ width: 29.8%; }
#main .box .show .shouRu .mingXi dl dd{ border-right:1px solid #ccc; border-left:1px solid #ccc; border-bottom:1px solid #ccc;  }
#main .box .show .shouRu .mingXi dl dd p{ display: inline-block; text-align: center; height: 30px; line-height: 30px; background: #fafafa; }
#main .box .show .shouRu .mingXi dl dd p.con1{ width: 40%; border-right: 1px solid #ccc; }
#main .box .show .shouRu .mingXi dl dd p.con2{ width: 29.9%; border-right: 1px solid #ccc; }
#main .box .show .shouRu .mingXi dl dd p.con3{ width: 29.8%; }

#main .box .show .duiHuan .jiLu{ margin:40px; margin-top: 10px; }
#main .box .show .duiHuan .jiLu dl dt{ border:1px solid #ccc; }
#main .box .show .duiHuan .jiLu dl dt p{ display: inline-block; text-align: center; height: 30px; line-height: 30px; background: #f1f1f1;}
#main .box .show .duiHuan .jiLu dl dt p.jiLuOne{ width: 23%; border-right: 1px solid #ccc; }
#main .box .show .duiHuan .jiLu dl dt p.jiLuTwo{ width: 12%; border-right: 1px solid #ccc; }
#main .box .show .duiHuan .jiLu dl dt p.jiLuThree{ width: 10%; border-right: 1px solid #ccc; }
#main .box .show .duiHuan .jiLu dl dt p.jiLuFour{ width: 25%; border-right: 1px solid #ccc; }
#main .box .show .duiHuan .jiLu dl dt p.jiLuFive{ width: 14.7%; border-right: 1px solid #ccc; }
#main .box .show .duiHuan .jiLu dl dt p.jiLuSix{ width: 14.6%; }
#main .box .show .duiHuan .jiLu dl dd{ border-left: 1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; height: 30px; line-height: 30px; }
#main .box .show .duiHuan .jiLu dl dd p{ float: left; text-align: center; background: #fafafa; }
#main .box .show .duiHuan .jiLu dl dd p.oneXQ{ width: 23%; border-right: 1px solid #ccc; }
#main .box .show .duiHuan .jiLu dl dd p.oneXQ a{ overflow: hidden; text-overflow:ellipsis; white-space: nowrap; display: block; color: #171FFC; }
#main .box .show .duiHuan .jiLu dl dd p.oneXQ a:hover{ text-decoration:underline; }
#main .box .show .duiHuan .jiLu dl dd p.twoJG{ width: 12%; border-right: 1px solid #ccc; }
#main .box .show .duiHuan .jiLu dl dd p.threeLX{ width: 10%; border-right: 1px solid #ccc; }
#main .box .show .duiHuan .jiLu dl dd p.fourDDH{ width: 25%; border-right: 1px solid #ccc; }
#main .box .show .duiHuan .jiLu dl dd p.fiveSJ{ width: 14.7%; border-right: 1px solid #ccc }
#main .box .show .duiHuan .jiLu dl dd p.sixZT{ width: 14.6%; }

#main .box .show .shouXinXiang{ margin: 50px; margin-top: 10px; }
#main .box .show .shouXinXiang .shouTitle button{  display: inline-block; padding: 4px 15px; background: #f4f4f4; border-radius: 3px; color: #777; border: 1px solid #bbb; text-shadow: 0 -1px 0 #fff; font-size: 13px; cursor: pointer; margin-right: 5px; }
#main .box .show .shouXinXiang .shouTitle button:hover{ box-shadow: 3px 3px 3px #ccc; }
#main .box .show .shouXinXiang .shouCon{ margin-top: 20px; }
#main .box .show .shouXinXiang .shouCon p{float: left; text-align: center;}
#main .box .show .shouXinXiang .shouCon p input{ vertical-align: middle; }
#main .box .show .shouXinXiang .shouCon dl dt{ height: 30px; line-height: 30px; background: #f5f5f5; border-top: 1px solid #ccc; border-bottom:1px solid #ccc; }
#main .box .show .shouXinXiang .shouCon dl dt p.shouOne{ width: 10%; }
#main .box .show .shouXinXiang .shouCon dl dt p.shouTwo{ width: 60%; }
#main .box .show .shouXinXiang .shouCon dl dt p.shouThree{ width: 15%; }
#main .box .show .shouXinXiang .shouCon dl dt p.shouFour{ width: 15%; }
#main .box .show .shouXinXiang .shouCon dl dd{ border-bottom: 1px solid #efefef; }
#main .box .show .shouXinXiang .shouCon dl dd p{ height: 66px;  }
#main .box .show .shouXinXiang .shouCon dl dd p.shouOneCon{ width: 10%; line-height: 66px;  }
#main .box .show .shouXinXiang .shouCon dl dd p input{ margin-left: -24px; }
#main .box .show .shouXinXiang .shouCon dl dd p.shouTwoCon{ width: 60%; text-align: left; display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 2; overflow: hidden; padding: 11px 0 11px; height: 34px; }
#main .box .show .shouXinXiang .shouCon dl dd p.shouThreeCon{ width: 15%; line-height: 66px;  }
#main .box .show .shouXinXiang .shouCon dl dd p.shouFourCon{ width: 15%; line-height: 66px; margin-top: -2px;\9;  }
#main .box .show .shouXinXiang .shouCon dl dd p.shouFourCon button{ width: 43px; height: 23px; line-height: 12px\9; width: auto\9; }

#main .box .show .lianXi .keFu{ margin: 40px; margin-top: 20px; }
#main .box .show .lianXi .keFu ul li.keFuTwo{ margin-top: 20px; }
#main .box .show .lianXi .keFu ul li span{ text-align: right; width: 50px; display: inline-block; }
#main .box .show .lianXi .keFu ul li textarea{ vertical-align: top; }
#main .box .show .lianXi .keFu ul li.keFuThree input{ margin:20px 0 0 50px; width: 120px; height: 40px; background: url("../images/pinkBtn.png"); background-size: 95%; border:none; border-radius: 5px; color: #fff; font-size: 16px; letter-spacing: 3px; }
#main .box .show .lianXi .keFu ul li.keFuThree input:hover{ background: url("../images/pinkBtn2.png"); background-size: 95%; }

.shouCang{ margin:40px; margin-top: 10px; }
.shouCang .top{ padding-bottom: 8px; }
.shouCang .top p{ display: inline-block; padding: 7px 15px; background: #F03E3E;cursor: pointer; border-radius: 5px; margin-right: 4px; }
.shouCang .top p.noClick{ background: #ccc; }
.shouCang .top p:hover{ background: #FC2727; }
.shouCang .top p.noClick:hover{ background: #aaa; }
.shouCang .top p a{  color: #fff;  }
.shouCang .Con{ margin: 10px 0; }
.shouCang .Con dl:hover{ box-shadow:5px 0 10px #ddd, -5px 0 10px #ddd; }
.shouCang .Con dl dt{ text-align: center; }
.shouCang .Con dl dd.ddEnd{ margin-right: 0; }
.shouCang .Con dl dd img{ width: 100px; height: 125px; }
.shouCang .Con dl dt,.shouCang .Con dl dd{ float: left; margin-right: 28px;}

.shouCang .shopCon{ width: 750px; margin-left: -6px; }
.shouCang .shopCon .shopShow { width: 175px; height: 220px; overflow: hidden; position: relative; display: inline-block; margin: 8px 3px; box-shadow: 3px 3px 3px #ccc; border:1px solid #ccc; }
.shouCang .shopCon .shopShow h1{  z-index: 101; position: absolute; top: 42%; left: -78%; font-size: 13px; }
.shouCang .shopCon .shopShow h1 a{ text-align: center; font-size: 12px; }
.shouCang .shopCon .shopShow h1 a.yes{ background: #ED2C3B; border-radius: 5px; color:#fff; padding:5px 10px; }
.shouCang .shopCon .shopShow h1 a.no{ background: #FFF; border-radius: 5px; color:#fff; padding:5px 10px; color:#6A6A6A; }
.shouCang .shopCon .shopShow h1 a.no:hover{ background:#dfdfdf; }
.shouCang .shopCon .shopShow .showCon .delete{ position: absolute; bottom: 60px; right: -20px; z-index: 99; display: block; width: 17px; height: 17px; cursor: pointer;  }
.shouCang .shopCon .shopShow .showCon a img{ width: 175px; height: 175px; }
.shouCang .shopCon .shopShow .showCon p{ padding-left: 5px; }
.shouCang .shopCon .shopShow p.zheZhao{ width: 100%; height: 100%; background: #000; opacity: .6; position: absolute; top: 0; left:-100%; ; z-index: 100; }
.shouCang .shopCon .shopShow .showCon p span{ color: #f00; font-size: 16px; font-weight: 700; }
.shouCang .shopCon .shopShow .showCon p span b{ font-size: 12px; font-weight: 400; }
.shouCang .shopCon .shopShow .showCon p em{ color: #ccc; font-size: 12px; text-decoration: line-through; color: #bbb; margin-left: 6px; }
.shouCang .shopCon .shopShow .showCon div a{ display: block; overflow: hidden; text-overflow:ellipsis; white-space: nowrap; padding-left: 7px; }
.shouCang .shopCon .shopShow .showCon div a:hover{ color:#FF4965; }

.dingDanMain .fenlei ul{  margin:10px 40px 0; border-bottom: 1px solid #ED404B; }
.dingDanMain .fenlei ul li{ float: left; }
.dingDanMain .fenlei ul li.one a{ color: #fff; font-size: 700; background: #ED404B; padding: 5px 20px; position: relative; display: block; }
.dingDanMain .fenlei ul li.two a{ color: #fff; font-size: 700; display: block; padding: 5px 20px; position: relative; background: #ccc; }
.dingDan{ margin:40px; margin-top: 0px; }
.dingDan dl dt{ background: #f2f2f2; }
.dingDan dl dt p{ float: left; text-align: center; height: 28px; line-height: 28px; padding: 5px 0; }
.dingDan dl dt p.dingDanOne{ width: 50%; }
.dingDan dl dt p.dingDanTwo{ width: 10%; }
.dingDan dl dt p.dingDanThree{ width: 10%; }
.dingDan dl dt p.dingDanFour{ width: 10%; }
.dingDan dl dt p.dingDanFive{ width: 10%; }
.dingDan dl dt p.dingDanSix{ width: 10%; }
.dingDan dl dd{ box-shadow: 3px 3px 3px #ccc; border-left: 1px solid #eee; }
.dingDan dl dd p{ float: left; }
.dingDan dl dd p.oneCon{ width: 46%; padding: 2%; }
.dingDan dl dd p.oneCon em{ display: block;}
.dingDan dl dd p.oneCon span{ display: block; width: 70%;}
.dingDan dl dd p.oneCon span strong a{ overflow : hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp: 4; -webkit-box-orient: vertical; }
.dingDan dl dd p.oneCon span strong a:hover{ color: #1A74CB; }
.dingDan dl dd p.oneCon small{ display: block; }
.dingDan dl dd p.oneCon em a img{ width: 80px; }
.dingDan dl dd p.oneCon em a img:hover{ box-shadow: 3px 3px 3px #ccc; }
.dingDan dl dd p.twoCon{ width: 6%; padding: 2%; text-align: center; }
.dingDan dl dd p.threeCon{ width: 6%; padding: 2%; text-align: center; }
.dingDan dl dd p.fourCon{ width: 8%; padding: 1%; padding-top: 2%; text-align: center; }
.dingDan dl dd p.fourCon span{ font-weight: 700; color: #444; }
.dingDan dl dd p.fiveCon{ width: 8%; padding: 1%; padding-top: 2%; text-align: center; }
.dingDan dl dd p.sixCon{ width: 8%; padding: 1%; padding-top: 2%; text-align: center; }
.dingDan dl dd p.sixCon span{ border:1px solid #ccc; border-radius: 5px; padding: 4px 10px; cursor: pointer; box-shadow: 3px 3px 3px #ccc; }

.yaoQing { margin:40px; margin-top: 10px; }
.yaoQing div{ position: relative; }
.yaoQing div ul{ width: 80%; margin:0 auto; }
.yaoQing div a.woYao{ position: absolute; left: 0; top: 0; }
.yaoQing div a.woDe{ position: absolute; right: 0; top: 0; }
.yaoQing div a img{ width: 80px }

.yaoQing div ul li{ width: 120px; height: 120px; border:1px solid #ccc; float: left; margin: 28px; border-radius: 50%; overflow: hidden; box-shadow: 3px 3px 3px #ccc; position: relative; cursor: pointer; }
.yaoQing div ul li input{ z-index: -1; }
.yaoQing div ul li img{ width: 100%; height: 100%; z-index: 99; margin-top: -20px; }
.yaoQing div ul li .btnZheZhao{ width: 100%; height: 100%; background: #000; opacity: .6; display: block; position: absolute; top: -100%; }
.yaoQing div ul li small{ position: absolute; color:#fff; top: -42%; width: 100%; text-align: center; font-weight: 500; font-size: 14px; letter-spacing: 2px; }
.yaoQing .zhuOne{ border-bottom: 1px solid #ccc; border-top: 1px dashed #ccc; border-left: 1px dashed #ccc; border-right: 1px dashed #ccc; padding: 5px; }
.yaoQing .zhuTwo{ border-left: 1px dashed #ccc; border-right: 1px dashed #ccc; border-bottom:1px dashed #ccc; padding: 5px }

.yaoQing .zhuOne b{ font-weight: 700; font-size: 14px; }

.myYaoQing{ position: relative; }
.myYaoQing a.Woyao{ position: absolute; top: 0; left: 0; }
.myYaoQing a.WoDe{ position: absolute; top: 0; right: 0; }
.myYaoQing a img{ width: 80px; }

.myYaoQing dl{ margin-top: 18px; }
.myYaoQing dl dt{ border:1px solid #ccc; background: #dfdfdf;  }
.myYaoQing dl dt p{ float: left; text-align: center; height: 40px; line-height: 40px; }
.myYaoQing dl dt p.qingOne{ width: 20%; border-right: 1px solid #bbb; }
.myYaoQing dl dt p.qingTwo{ width: 20%; border-right: 1px solid #bbb; }
.myYaoQing dl dt p.qingThree{ width: 20%; border-right: 1px solid #bbb; }
.myYaoQing dl dt p.qingFour{ width: 39.5%; }
.myYaoQing dl dd{ border-left:1px solid #ccc; border-right: 1px solid #ccc; border-bottom: 1px solid #ccc; }
.myYaoQing dl dd p{ text-align: center; float: left; }
.myYaoQing dl dd p.oneCon{ width: 20%; border-right: 1px solid #bbb; }
.myYaoQing dl dd p.twoCon{ width: 20%; border-right: 1px solid #bbb; }
.myYaoQing dl dd p.threeCon{ width: 20%; border-right: 1px solid #bbb; }
.myYaoQing dl dd p.fourCon{ width: 39.5%; }

.bangZhu{ margin: 40px; margin-top: 10px; }
.bangZhu ul{ position: relative; }
.bangZhu ul li{ float: left; width: 20%; height: 200px; position: absolute; transform:rotate(-2deg); transition:0.8s; }
.bangZhu ul li:hover{ -ms-animation: rotateme 0.4s infinite; -o-animation: rotateme 0.4s infinite; -moz-animation: rotateme 0.4s infinite; -wekit-animation: rotateme 0.4s infinite; animation: rotateme 0.4s infinite; }
.bangZhu ul li.zhuOne{ left: 0; top: 0; }
.bangZhu ul li.zhuTwo{ left: 38%; top: 0; }
.bangZhu ul li.zhuThree{ left: 78%; }
.bangZhu ul li.zhuFour{ left: 20%; top: 200px; }
.bangZhu ul li.zhuFive{ left: 58%; top: 200px; }
.bangZhu ul li a img{ width: 180px; }
#bangZhuTan{ width: 100%; height: 100%; position: fixed; top: 0; background: #000; opacity: .6; display: none; }
#bangZhuTanChu{ width: 800px; height: 600px; position: fixed; top: 50%; background: #fff; left: 50%; margin-left:-400px; margin-top: -300px; display: none; background: #f5f5f5; }
#bangZhuTanChu img.zuoJiao{ position: absolute; left: -98px; bottom: -73px; }
#bangZhuTanChu img.youJiao{ position: absolute; right: -98px; bottom: -73px; }
#bangZhuTanChu img.closeBtn{ position: absolute; right: 0; top: 0; width: 50px; cursor: pointer; }
#bangZhuTanChu img.closeBtn:hover{ opacity: .8; }
#bangZhuTanChu .TanChuCon{ margin:40px; }
#bangZhuTanChu .TanChuCon .tanOne{ display: none; }
#bangZhuTanChu .TanChuCon .tanOne p.title{ text-align: center; font-size: 20px; font-weight: 700; }
#bangZhuTanChu .TanChuCon .tanOne ul li.ConOne{ margin-top: 10px; letter-spacing: 4px; line-height: 30px; text-indent: 2em; }
#bangZhuTanChu .TanChuCon .tanOne ul li.ConTwo{ position: absolute; right: 40px; }
#bangZhuTanChu .TanChuCon .tanTwo{ display: none; }
#bangZhuTanChu .TanChuCon .tanThree{ display: none; }
#bangZhuTanChu .TanChuCon .tanFour{ display: none; }
#bangZhuTanChu .TanChuCon .tanFive{ display: none; }

@-o-keyframes rotateme {
    0% {-o-transform: rotate(-10deg);}
    20%{-o-transform: rotate(0deg);}
    50%{-o-transform: rotate(10deg);}
    70%{-o-transform: rotate(0deg);}
    100%{-o-transform: rotate(-10deg);}
}

@-moz-keyframes rotateme {
    0% {-moz-transform: rotate(-10deg);}
    20%{-moz-transform: rotate(0deg);}
    50%{-moz-transform: rotate(10deg);}
    70%{-moz-transform: rotate(0deg);}
    100%{-moz-transform: rotate(-10deg);}
}

@-ms-keyframes rotateme {
    0% {-ms-transform: rotate(-10deg);}
    20%{-ms-transform: rotate(0deg);}
    50%{-ms-transform: rotate(10deg);}
    70%{-ms-transform: rotate(0deg);}
    100%{-ms-transform: rotate(-10deg);}
}

@-webkit-keyframes rotateme {
    0% {-webkit-transform: rotate(-10deg);}
    20%{-webkit-transform: rotate(0deg);}
    50%{-webkit-transform: rotate(10deg);}
    70%{-webkit-transform: rotate(0deg);}
    100%{-webkit-transform: rotate(-10deg);}
}

@keyframes rotateme {
    0% {transform: rotate(-10deg);}
    20%{transform: rotate(0deg);}
    50%{transform: rotate(10deg);}
    70%{transform: rotate(0deg);}
    100%{transform: rotate(-10deg);}
}
